## POSTTEST 4 : KECERDASAN BUATAN

## Nama : Adlina Safa Sephia Putri
## NIM : 2109106021

## Data Preprocessing

### Mengimport Library Python : Pandas, Numpy, Sklearn

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Menampilkan 10 data pertama dengan menggunakan ".head()".

In [2]:
dataset_split = pd.read_csv("chocolate_bars.csv")

In [3]:
dataset_split.head()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00

### Menampilkan Semua informasi dari dataset dengan ".info()"
### Untuk melihat informasi column dan record menggunakan ".shape"

In [4]:
dataset_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                2530 non-null   int64
 1   manufacturer      2530 non-null   object
 2   company_location  2530 non-null   object
 3   year_reviewed     2530 non-null   int64
 4   bean_origin       2530 non-null   object
 5   bar_name          2530 non-null   object
 6   cocoa_percent     2530 non-null   float64
 7   num_ingredients   2443 non-null   float64
 8   ingredients       2443 non-null   object
 9   review            2530 non-null   object
 10  rating            2530 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 217.5+ KB

In [5]:
dataset_split.shape

(2530, 11)

## Membagi Dataset menjadi Training Set dan Testing Set dengan Proporsi 70:30

In [7]:
X = dataset_split.iloc[:, :-1]
Y = dataset_split.iloc[:, -1]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3)

In [8]:
print("Dimensi X_Train: ", X_train.shape)
print("Dimensi X_Test: ", X_test.shape)
print("Dimensi Y_Train: ", Y_train.shape)
print("Dimensi Y_Test: ", Y_test.shape)

Dimensi X_Train:  (1771, 10)
Dimensi X_Test:  (759, 10)
Dimensi Y_Train:  (1771,)
Dimensi Y_Test:  (759,)

## Data Cleaning (Nilai NULL)

In [116]:
dataset_split = pd.read_csv("chocolate_barsrusak.csv")

In [121]:
dataset_split[1:15]

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",NaN,3.0,"B,S,C","cocoa, vegetal, savory",NaN
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",NaN,3.0,"B,S,C","cocoa, blackberry, full body",NaN
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",NaN,3.0,"B,S,C","chewy, off, rubbery",NaN
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",NaN,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",NaN
5,2546,5150,U.S.A.,2021,Uganda,"Semuliki Forest, batch 1",NaN,3.0,"B,S,C","mildly bitter, basic cocoa, fatty",NaN
6,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",NaN,3.0,"B,S,C","milk brownie, macadamia,chewy",NaN
7,797,A. Morin,France,2012,Bolivia,Bolivia,NaN,4.0,"B,S,C,L","vegetal, nutty",NaN
8,797,A. Morin,France,2012,Peru,Peru,NaN,4.0,"B,S,C,L","fruity, melon, roasty",NaN
9,1011,A. Morin,France,2013,Panama,Panama,70.0,4.0,"B,S,C,L","brief fruit note, earthy, nutty",2.75
10,1015,A. Morin,France,2013,Colombia,Colombie,70.0,4.0,"B,S,C,L","burnt rubber,alkalyzed notes",2.75
11,1011,A. Morin,France,2013,Madagascar,"Madagascar, Criollo",70.0,4.0,"B,S,C,L","sticky, red fruit, sour",3.00
12,1015,A. Morin,France,2013,Burma,Birmanie,70.0,4.0,"B,S,C,L","sticky, smokey, grass",3.00
13,1011,A. Morin,France,2013,Brazil,Brazil,70.0,4.0,"B,S,C,L",mild tobacco,3.25
14,1015,A. Morin,France,2013,Papua New Guinea,Papua New Guinea,70.0,4.0,"B,S,C,L","mild fruit, strong smoke",3.25

In [122]:
dataset_split.isna().sum()

id                   0
manufacturer         0
company_location     0
year_reviewed        0
bean_origin          0
bar_name             0
cocoa_percent        9
num_ingredients     87
ingredients         87
review               0
rating               9
dtype: int64

### Menangani nilai NULL "rating"

In [123]:
from sklearn.impute import SimpleImputer

In [124]:
imputer = SimpleImputer(strategy="mean")

In [125]:
dataset_split["rating"] = imputer.fit_transform(dataset_split[["rating"]])

In [126]:
dataset_split.isna().sum()

id                   0
manufacturer         0
company_location     0
year_reviewed        0
bean_origin          0
bar_name             0
cocoa_percent        9
num_ingredients     87
ingredients         87
review               0
rating               0
dtype: int64

## Data Cleaning (Duplikat Data)

In [117]:
dataset_split[dataset_split.duplicated()]

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
25,1019,A. Morin,France,2013,Peru,Piura,70.0,4.0,"B,S,C,L","green, nutty, cocoa",3.25
26,1019,A. Morin,France,2013,Peru,Chanchamayo Province,70.0,4.0,"B,S,C,L","cocoa,sour,intense tangerine",3.50
27,1011,A. Morin,France,2013,Ecuador,Equateur,70.0,4.0,"B,S,C,L","sandy, nutty, cocoa, fig",3.75
28,1015,A. Morin,France,2013,Venezuela,Chuao,70.0,4.0,"B,S,C,L","oily, nut, caramel, raspberry",4.00
29,1019,A. Morin,France,2013,Peru,Chanchamayo Province,63.0,3.0,"B,S,C","sweet, cocoa, tangerine",4.00
30,1315,A. Morin,France,2014,Venezuela,"Carenero, Criollo",70.0,4.0,"B,S,C,L","harsh, leather, earthy",2.75

In [118]:
print("\nSebelum menggunakan fungsi drop_duplicates()")
print("Jumlah Nilai Duplikat:",dataset_split.duplicated().sum())

Sebelum menggunakan fungsi drop_duplicates()
Jumlah Nilai Duplikat: 6

In [119]:
dataset_split.drop_duplicates(inplace=True)

In [120]:
print("\nSetelah menggunakan fungsi drop_duplicates()")
print("Jumlah Nilai Duplikat:",dataset_split.duplicated().sum())

Setelah menggunakan fungsi drop_duplicates()
Jumlah Nilai Duplikat: 0

## Data Transforming (Normalization)

In [41]:
from sklearn.preprocessing import MinMaxScaler

In [42]:
min_max_scaler = MinMaxScaler()

In [63]:
x_scaled = min_max_scaler.fit_transform(
    dataset_split[
            ['id', 'year_reviewed']]
)

In [64]:
data_normalization = pd.DataFrame(x_scaled)
data_normalization.head()

          0         1
0  0.904692  0.866667
1  0.906169  0.866667
2  0.904692  0.866667
3  0.937200  1.000000
4  0.938678  1.000000

## Data Transforming (Standarization)

In [77]:
np.std(dataset_split)

id                 758.121027
year_reviewed        3.971329
cocoa_percent        5.621063
num_ingredients      0.913424
rating               0.445759
dtype: float64

In [76]:
from sklearn.preprocessing import StandardScaler

In [67]:
standar_scaler = StandardScaler()

In [69]:
x_scaled2 = standar_scaler.fit_transform(
    dataset_split[
            ['id', 'year_reviewed']]
)

In [70]:
data_standarization = pd.DataFrame(x_scaled2)
data_standarization.head()

          0         1
0  1.352141  1.165545
1  1.357417  1.165545
2  1.352141  1.165545
3  1.468217  1.669155
4  1.473493  1.669155

In [71]:
np.std(x_scaled2)

1.0

In [72]:
np.mean(x_scaled2)

2.180682118415878e-15

## Mengubah Tipe Data Atribut Angka(float) ke Object

In [78]:
dataset_split["rating"].dtypes

dtype('float64')

In [79]:
tipe_objek = dataset_split[["rating"]].astype("object")
tipe_objek["rating"].dtypes

dtype('O')

## One Hot Encoding pada Dataset

In [100]:
from sklearn.preprocessing import OneHotEncoder

In [101]:
dataset_oneHot = pd.read_csv("chocolate_bars.csv")

In [102]:
one_hot_encoding = OneHotEncoder(sparse=False)

In [103]:
company_location_encoded = one_hot_encoding.fit_transform(dataset_oneHot[['company_location']])

In [104]:
company_location_encoded2 = pd.DataFrame(company_location_encoded)
dataset_oneHot = dataset_oneHot.join(company_location_encoded2 )

In [105]:
dataset_oneHot.head(10)

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,...,57,58,59,60,61,62,63,64,65,66
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,2546,5150,U.S.A.,2021,Uganda,"Semuliki Forest, batch 1",80.0,3.0,"B,S,C","mildly bitter, basic cocoa, fatty",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,2542,5150,U.S.A.,2021,India,"Anamalai, batch 1",68.0,3.0,"B,S,C","milk brownie, macadamia,chewy",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,797,A. Morin,France,2012,Bolivia,Bolivia,70.0,4.0,"B,S,C,L","vegetal, nutty",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,797,A. Morin,France,2012,Peru,Peru,63.0,4.0,"B,S,C,L","fruity, melon, roasty",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1011,A. Morin,France,2013,Panama,Panama,70.0,4.0,"B,S,C,L","brief fruit note, earthy, nutty",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0